:root{
  --primary: #2e3047;
  --primary-transparant: rgba(46, 48, 71, 0.95);
  --secondary: #daddd8;
  --third: #f5f4ea;
}

html, body {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .fullscreen-container {
      position: relative;
      width: 100vw;
      height: 100vh;
    }

    .bg-image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(40px);
      transform: scale(1.1);
      z-index: -1;
    }

    .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
    }

    /* Optional content styling */
    .content {
      position: relative;
      z-index: 1;
      color: var(--third);
      text-align: center;
      font-size: 2rem;
      top: 50%;
      transform: translateY(-50%);
    }

    .description-box {
    position: relative;
    top: 60px;
    left: 20px;
    background: var(--primary-transparant);
    color: var(--third);
    border-radius: 25px;
    height: auto;
    max-width: 300px;
    z-index: 50;
    backdrop-filter: blur(5px);
    }

.gallery{
  border: none;
  cursor: pointer;
  border-radius: 30px;
  background-color: rgba(177, 181, 223, 0.1);
  color: var(--third);
  padding: 5px;
  z-index: 999;
  font-weight: 500;
  width: 100%;
  justify-content: center;
}

.gallery:hover{
  background-color: var(--secondary);
  color: var(--primary);
}

#thumbnailScroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
#thumbnailScroll::-webkit-scrollbar {
  display: none;
}